\ {

    #define MAKE_LAYER(NAME, HOLD, TAP) \
      ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
                   tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;         \
                   require-prior-idle-ms = <150>; hold-trigger-on-release;         \
                   )


    MAKE_LAYER(num, &mo NUMBERS) 
    MAKE_LAYER(sym, &mo SYMBOLS, &tog SYMBOLS) 
    MAKE_LAYER(nav, &mo NAVIGATION, &tog NAVIGATION) 
    MAKE_LAYER(med, &mo MEDIA, &tog MEDIA)
    
    behaviors {
		        num_word: behavior_num_word {
			compatible = "zmk,behavior-caps-word";
			label = "NUM_WORD";
			#binding-cells = <0>;
                        layers = <NUM>;                                insert location of numbers layer here
			continue-list = <BACKSPACE DELETE DOT COMMA>;  adjust as desired
                        ignore-numbers;                                numbers don't deactivate the layer
		};
	};
};
