/ {
    #define LAYERS_QUICK_TAP_MS 175

    behaviors {
		num_word: behavior_num_word {
			compatible = "zmk,behavior-caps-word";
			label = "NUM_WORD";
			#binding-cells = <0>;
            layers = <NUMBERS>;                            // insert location of numbers layer here
			continue-list = <BACKSPACE DELETE DOT COMMA>;  // adjust as desired
            ignore-numbers;                                // numbers don't deactivate the layer
		};

        numbers: numbers {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo NUMBERS>, <&tog NUMBERS>;
            tapping-term-ms = <280>;
            quick-tap-ms = <LAYERS_QUICK_TAP_MS>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        symbols: symbols {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo SYMBOLS>, <&tog SYMBOLS>;
            tapping-term-ms = <280>;
            quick-tap-ms = <LAYERS_QUICK_TAP_MS>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        navigation: navigation {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo NAVIGATION>, <&tog NAVIGATION>;
            tapping-term-ms = <280>;
            quick-tap-ms = <LAYERS_QUICK_TAP_MS>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        media: media {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo MEDIA>, <&tog MEDIA>;
            tapping-term-ms = <280>;
            quick-tap-ms = <LAYERS_QUICK_TAP_MS>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };
	};
};
