/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * https://nickcoutsos.github.io/keymap-editor/
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10


#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "zmk-helpers/helper.h"

// Source desired key-position labels
#include "zmk-helpers/key-labels/42.h"

&caps_word { continue-list = <UNDERSCORE MINUS>; };
&mt {
        tapping-term-ms = <250>;
    };

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define KEYS_T LH2 LH1 LH0 RH0 RH1 RH2

#define CAPS_TAP_DURATION 100
#define HOLD_TAP_DURATION 175
#define TO_LAYER_DURATION 150

#define BASE 0
#define DVORAK 1
#define NUMBERS 2
#define SYMBOLS 3
#define NAVIGATION 4
#define MEDIA 5
#define FUNCTION 6


/ {
    behaviors {
        caps_tap: caps_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <CAPS_TAP_DURATION>;
            bindings = <&caps_word>, <&kp CAPS>;

            label = "CAPS_TAP";
        };

        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;

            tapping-term-ms = <HOLD_TAP_DURATION>;
            flavor = "tap-preferred";
        };

        nav_layer: nav_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "NAV_LAYER";
            #binding-cells = <0>;

            tapping-term-ms = <TO_LAYER_DURATION>;
            bindings = <&mo 4>, <&to 4>;
        };

        media_layer: media_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "MEDIA_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 5>, <&to 5>;

            tapping-term-ms = <TO_LAYER_DURATION>;
        };

        num_layer: num_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 2>;

            tapping-term-ms = <TO_LAYER_DURATION>;
        };

        symbol_layer: symbol_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "SYMBOL_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&to 3>;

            tapping-term-ms = <TO_LAYER_DURATION>;
        };

        layer: layer {
            compatible = "zmk,behavior-hold-tap";
            label = "layer";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>,  <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;

            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;

            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_layer_change {
            bindings = <&to 0>; // Default Layer
            key-positions = <37 40>;
        };

        combo_dvorak {
            bindings = <&to 1>; // Dvorak Layer
            key-positions = <15 37 40>;
        };

        cap_word_combo {
            bindings = <&caps_tap>;
            key-positions = <16 19>;
        };
    };

    macros {
        VS_comment: VS_comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(K) &kp C>;
            label = "VS_COMMENT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
                &mt ESCAPE DEL  &kp Q                 &kp W                 &mt EQUAL E         &kp R                   &kp T        &kp Y              &mt UNDER U        &kp I                      &kp O                  &mt PRINTSCREEN P   &kp BSPC
                &kp TAB               &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G        &mt MINUS H  &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI  &mt GRAVE SQT
                &layer SYMBOLS SYMBOLS         &kp Z                 &kp X                 &kp C                     &kp V                   &kp B        &kp N              &kp M                    &kp COMMA                  &mt EXCL DOT     &mt BACKSLASH FSLH  &layer SYMBOLS SYMBOLS
                                                                                &layer NAVIGATION NAVIGATION                &layer NUMBERS NUMBERS              &kp ENTER    &kp SPACE          &layer NUMBERS NUMBERS               &layer NAVIGATION NAVIGATION 
            >;
        };

        dvorak {
            display-name = "Dvorak";
            bindings = <
                &hold_tap ESCAPE DEL    &hold_tap EXCLAMATION APOS  &kp COMMA  &kp DOT   &hold_tap PRINTSCREEN P  &kp Y        &kp F      &kp G  &kp C  &kp R  &kp L  &kp BSPC
                &caps_tap             &hold_tap LEFT_GUI A  &hold_tap LEFT_ALT O      &hold_tap LEFT_CONTROL E     &hold_tap LEFT_SHIFT U  &kp I        &kp D      &kp H  &kp T  &kp N  &kp S  &kp MINUS
                &media_layer          &kp SEMI                    &kp Q      &kp J     &kp K  &kp X        &kp B      &kp M  &kp W  &kp V  &kp Z  &kp SLASH
                                                                                &nav_layer                &num_layer              &kp ENTER    &kp SPACE          &num_layer               &nav_layer
            >;
        };

        numbers {
            display-name = "Numbers";
            bindings = <
                &hold_tap ESC DELETE  &kp N1  &kp N2  &kp N3     &kp N4           &kp N5       &kp N6     &kp N7        &kp N8        &kp N9        &kp N0                &kp BACKSPACE
                &kp TAB               &none   &none   &kp EQUAL  &kp PLUS         &kp MINUS    &none      &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
                &none                 &none   &none   &kp CARET  &kp KP_MULTIPLY  &kp SLASH    &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_BRACKET      &kp RIGHT_BRACKET
                                      &none      &none            &kp ENTER    &kp SPACE  &none         &kp PERIOD
            >;
        };

        symbols {
            display-name = "Symbols";
            bindings = <
                &hold_tap ESCAPE DEL  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR          &kp RPAR           &kp BSPC
                &kp TAB               &none     &none   &none     &none     &none        &kp MINUS  &kp EQUAL  &none            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp GRAVE
                &none                 &none     &none   &none     &none     &none        &kp UNDER  &kp PLUS   &kp PIPE         &kp LBRC          &kp RBRC           &none
                                                        &none     &none     &kp ENTER    &kp SPACE  &none      &none
            >;
        };

        navigation {
            display-name = "Navigation";
            bindings = <
                &none  &mkp MB4  &none           &mmv MOVE_UP    &none            &mkp MB5          &kp PAGE_UP    &none              &kp UP_ARROW       &none              &none    &none
                &none  &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_UP      &kp C_AC_HOME  &kp LEFT           &kp DOWN           &kp RIGHT          &kp END  &none
                &none  &none     &none           &none           &none            &msc SCRL_DOWN    &kp PAGE_DOWN  &kp LA(LC(LS(A)))  &kp LS(LA(LC(D)))  &kp LS(LA(LC(M)))  &none    &none
                                                &none           &mkp LCLK        &mkp RCLK         &none          &none              &none
            >;
        };

        media {
            display-name = "Media";
            bindings = <
                &none  &kp LS(LA(LC(A)))  &kp LS(LA(LC(D)))  &kp LS(LA(LC(M)))  &none  &none    &none  &kp C_VOLUME_UP    &none  &none  &none  &none
                &none  &kp C_PREV         &kp C_PLAY_PAUSE   &kp C_NEXT         &none  &none    &none  &kp C_VOLUME_DOWN  &none  &none  &none  &none
                &none  &none              &none              &none              &none  &none    &none  &kp C_MUTE         &none  &none  &none  &none
                                                            &none              &none  &none    &none  &none              &none
            >;
        };

        function {
            display-name = "Functions";
            bindings = <
                &kp F1          &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
                &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none   &none   &none   &none    &none    &none
                &bt BT_CLR_ALL  &none         &none         &none         &none         &none           &none   &none   &none   &none    &none    &none
                                                            &none         &none         &none           &none   &none   &none
            >;
        };
    };
};
